#page-admin-setting-staticpage .documentlist {
    list-style: none;
    margin-left: 0;
}

#page-admin-setting-staticpage .documentlist li {
    border-left: 2px solid lightgrey;
    margin: 0 0 20px 10px;
    padding: 0 0 0 10px;
}
